.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Botón Editar */
.card-buttons button:first-child {
  background-color: #ffcc00;
  color: #333;
}

.card-buttons button:first-child:hover {
  background-color: #e6b800;
}

/* Botón Eliminar */
.card-buttons button:last-child {
  background-color: #e60073;
  color: #fff;
}

.card-buttons button:last-child:hover {
  background-color: #cc005f;
}
